USE [master]
GO
/****** Object:  Database [IDEVTEK]    Script Date: 09/02/2022 12:11:19 ******/
CREATE DATABASE [IDEVTEK] ON  PRIMARY 
( NAME = N'IDEVTEK', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SHANI\MSSQL\DATA\IDEVTEK.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IDEVTEK_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SHANI\MSSQL\DATA\IDEVTEK_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IDEVTEK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IDEVTEK]
GO
/****** Object:  Table [dbo].[Signup]    Script Date: 09/02/2022 12:11:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Signup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](200) NOT NULL,
	[Password] [varchar](100) NULL,
	[DOB] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Signup] ON
INSERT [dbo].[Signup] ([ID], [Name], [Email], [Password], [DOB]) VALUES (1, N'shani', N'shani224122@gmail.com', N'1234', N'1999-07-22')
SET IDENTITY_INSERT [dbo].[Signup] OFF
/****** Object:  StoredProcedure [dbo].[USP_VerifyLogin]    Script Date: 09/02/2022 12:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[USP_VerifyLogin]
@ID int ,
@Email varchar(2000),
@Password varchar(100)

as --    USP_VerifyLogin 3 ,'shani123gmail.com','1234'

Begin
declare @Msg varchar(max)
if Exists (select  ID from Signup where Email=@Email and Password=@Password)
begin
set @Msg='Login Successfully'
End
Else
Begin
set @Msg='User not Exits'
End
select @Msg as Msg
End
GO
/****** Object:  StoredProcedure [dbo].[USP_Signup]    Script Date: 09/02/2022 12:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[USP_Signup]

 @ID int ,
 @Name varchar(50),
 @Email varchar(200),
 @Password varchar(100),
 @DOB varchar(30)
as    -- USP_Signup 0,'shani' ,'shani224122@gmail.com','123','22/07/1999'
Begin

Declare @Msg varchar(max)
if @ID=0
begin
insert into Signup (Name , Email,Password,DOB) values(@Name ,@Email,@Password,@DOB)
set @Msg='Signup Successfully'
End
else
Begin
update Signup set Name=@Name,Email=@Email where ID=@ID
set @Msg='Update successfully'
End
select @Msg as Msg
End
select * from Signup
GO
/****** Object:  StoredProcedure [dbo].[USP_ShowData]    Script Date: 09/02/2022 12:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[USP_ShowData]
as
Begin
select * from Signup
End
GO
